<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282737317627-lj2eg4gk8dfll4ui3rau9dqh76vvt00l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282737317627-lj2eg4gk8dfll4ui3rau9dqh76vvt00l</string>
	<key>API_KEY</key>
	<string>AIzaSyDsAIiDsa_n1tz-Aw2EdRXptan48_kldzI</string>
	<key>GCM_SENDER_ID</key>
	<string>282737317627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github-KrGil.Gilstalk</string>
	<key>PROJECT_ID</key>
	<string>gils-talk</string>
	<key>STORAGE_BUCKET</key>
	<string>gils-talk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:282737317627:ios:1a8e296da889be6d</string>
	<key>DATABASE_URL</key>
	<string>https://gils-talk.firebaseio.com</string>
</dict>
</plist>